/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  /* Glass transparent effect */
  padding: 1rem;
  z-index: 1050;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  /* Elegant font */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  height: 60px;
  width: auto;
  margin-right: 15px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-link {
  color: #ffffff;
  /* White text for contrast */
  text-decoration: none;
  margin-left: 1.5rem;
  padding: 0.6rem 1.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  /* Stylish font */
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background: #073a64;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logOut {
  border: none;
  color: #ffffff;
  /* White text for contrast */
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.4rem 1.4rem;
  margin-left: 1.5rem;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  background: #073a64;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 6px;
}

.navbar-link:hover,
.logOut:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #022738;
  /* Vibrant highlight */
  transform: scale(1.1);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.main-content {
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 0.8rem;
  }

  .navbar-content {
    flex-direction: column;
    align-items: center;
  }

  .navbar-links {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navbar-link {
    margin: 5px 0;
    padding: 0.7rem;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
  }
}